<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Document Title -->
        <title>{{ site.title }} - {{ site.title_meta }}</title>

        <!-- Metas -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Links -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,latin-ext" rel="stylesheet" type="text/css" />
        <link rel='stylesheet' id='bootstrap-css'  href='{{ site.url }}{{ site.baseurl }}assets/lib/bootstrap/css/bootstrap.min.css' type='text/css' media='all' />
        <link rel='stylesheet' id='font-awesome-css'  href='{{ site.url }}{{ site.baseurl }}assets/css/icons/font-awesome.min.css' type='text/css' media='all' />
        <link rel='stylesheet' id='swiper-css' href='{{ site.url }}{{ site.baseurl }}assets/lib/swiper/css/swiper.min.css' type='text/css' media='all' />
        <link rel='stylesheet' id='cubeportfolio-css'  href='{{ site.url }}{{ site.baseurl }}assets/lib/cubeportfolio/css/cubeportfolio.min.css' type='text/css' media='all' />

        <link rel='stylesheet' id='main-css'  href='{{ site.url }}{{ site.baseurl }}style.css' type='text/css' media='all' />

    </head>
    <body>
