<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Document Title -->
        <title>{{ site.title }} - {{ site.title_meta }}</title>

        <!-- Metas -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Links -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,latin-ext" rel="stylesheet" type="text/css" />
        <link rel='stylesheet' id='bootstrap-css'  href='{{ site.url }}{{ site.baseurl }}assets/lib/bootstrap/css/bootstrap.min.css' type='text/css' media='all' />
        <link rel='stylesheet' id='swiper-css' href='{{ site.url }}{{ site.baseurl }}assets/lib/swiper/css/swiper.min.css' type='text/css' media='all' />
        <link rel='stylesheet' id='cubeportfolio-css'  href='{{ site.url }}{{ site.baseurl }}assets/lib/cubeportfolio/css/cubeportfolio.min.css' type='text/css' media='all' />

        <link rel='stylesheet' id='main-css'  href='{{ site.url }}{{ site.baseurl }}style.css' type='text/css' media='all' />

        <script src="https://kit.fontawesome.com/cc759ba0dc.js" crossorigin="anonymous"></script>

    </head>
    <body>

    <!-- Page Wrapper -->
    <div id="page" class="site"></div>
    <div class="page-click-capture"></div>
            <header id="masthead" class="site-header hamburger-side" role="banner">
            <div class="container">
                <div id="site-branding">
                    <a class="logo-brand" href="/">
                        <p><i class="fas fa-server"></i>                                {{ site.title }}</p>
                    </a>
                </div><!-- .site-branding -->
                <span id="ham-trigger-wrap">
                    <span class="ham-trigger">
                        <span></span>
                    </span>
                </span>
                {% include snippets/menu.html %}
            </div><!-- .wrap -->
        </header><!-- #masthead -->
